<!DOCTYPE html>
<html lang="ru">
{% include 'block/head.html' %}
<body>
  {% include 'block/top.html' %}
  <div class="container">
    <h1>@ IS inner folder</h1>
    {% include 'block/content.html' %}
    {% include 'block/footer.html' %}  
  </div>

  
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/js/vue_forms.js"></script>

  <script src="/js/app.js"></script>
  <link rel="stylesheet" href="/assets/rainbow.css">  
  <script src="/assets/rainbow.js"></script>
</body>
</html>