<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      {% if 0%}<img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">{% endif %}
      <small class="d-block mb-3 text-muted">&copy; DigitalStrateg 2023</small>
    </div>
    <div class="col-6 col-md">
      <h5>Базовые возможности</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/base/const">Константы</a></li>
        <li><a class="text-muted" href="/base/promo">Инструменты оптимизатора</a></li>
        <li><a class="text-muted" href="/base/models">Работа с моделями</a></li>
        <li><a class="text-muted" href="/base/forms">Обработка форм</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Сессии</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/sessions/reg">Авторизация</a></li>
        <li><a class="text-muted" href="/sessions/cookie">Куки</a></li>
        <li><a class="text-muted" href="#">Another resource</a></li>
        <li><a class="text-muted" href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Пока ещё не придумал</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
        <li><a class="text-muted" href="#">Locations</a></li>
        <li><a class="text-muted" href="#">Privacy</a></li>
        <li><a class="text-muted" href="#">Terms</a></li>
      </ul>
    </div>
  </div>

</footer>