
<form method="post" action="/forms/task-without-ajax" style="margin-left: 20px;">
    <input type="hidden" name="action" value="form_send">
    <div class="form-group" v-for="">
      <label for="form_tasks_header">Введите наименование задачи</label>
      <input type="text" class="form-control" name="header" aria-describedby="emailHelp" value="Название задачи">
      <small id="form_tasks_header_help" class="form-text form-error">данное поле обязательно для заполнения</small>
    </div>
    <div class="form-group">
      <label for="form_tasks_body">Описание задачи</label>
      <textarea class="form-control" name="body" id="form_tasks_body">Сделать cms на FastApi</textarea>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" name="priority" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">В приоритете</label>
    </div>
    <button type="submit" class="btn btn-primary">Создать задачу</button>
</form>
